@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* color theme*/
:root {
    --dark: #1e1e1e;
    --dark-gray: rgba(0,0,0, 0.2);
    --gray: rgba(255,255,255, 0.2);
    --light-gray: #f7f7f7;
    --light: #fff;
    --primary-color: #02F093;
    --secondary-color: #5a2abd;
    --error-color: #932422; 
}

*{-webkit-font-smoothing:antialiased;font-smoothing:antialiased;}
body{background-color: var(--dark); color:var(--light);font-size:14px; font-family: 'Mukta', sans-serif;}
body, form, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, fieldset, th, td, input, textarea,button,select{margin:0;padding:0; font-weight:normal;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,iframe,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,dt{font-weight:normal;}
img,fieldset,iframe,button{border:0 none;}
table{border-collapse:collapse;border-spacing:0}
th, td{border-collapse:collapse;}
ol, ul, dl{list-style:none;}
li{list-style:none;}
a{color:inherit; text-decoration:none; display:block;}
img{vertical-align:top}
address, caption, em, var{font-style:normal;font-weight:normal;}
input, textarea, select{letter-spacing:normal;}
button {border:0; background:none; cursor:pointer; -webkit-appearance:none;}
::-webkit-input-placeholder {color:#555;}
input[type="text"],input[type="password"],input[type="time"],input[type="date"],input[type="email"],input[type="tel"],input[type="number"],input[type="file"],input[type="radio"],input[type="search"]{width:100%; vertical-align:middle; color:#000; box-sizing:border-box; border:1px solid #000; -webkit-appearance:none;}
strong{font-weight:normal}
::-moz-selection {background-color: var(--gray);color: var(--light)}
::selection {background-color: var(--gray); color: var(--light)}

/* none */
.hidden {display:none;}
.blind, legend {position:absolute; clip:rect(1px, 1px, 1px, 1px); clip-path: inset(0px 0px 99.9% 99.9%); overflow:hidden; height:1px; width:1px; padding: 0; border:0; top:50%;}

/* style */
svg {width:100%; height:100%;}
.dot-one , .dot-four {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center;-ms-flex-align: center;align-items: center}
.dot-one:before,.dot-four:before {line-height: 0;margin-top: 1px}
.dot-one:before {content: url(../images/dot-one.svg); width: 5px; height: 5px; margin-right: .52vw}
@media only screen and (max-width: 560px) { .dot-one:before {margin-right:7px }}
.dot-four:before {content: url(../images/dot-four.svg);width: .85em;margin-right: .7em}

header > div , header  > div nav , header >div nav ul li a , .action-button{
    -webkit-transition: -webkit-transform .25s cubic-bezier(0,0,.25,1);
    transition: -webkit-transform .25s cubic-bezier(0,0,.25,1);
    transition: transform .25s cubic-bezier(0,0,.25,1);
    transition: transform .25s cubic-bezier(0,0,.25,1),-webkit-transform .25s cubic-bezier(0,0,.25,1)
}

.opacity {
-webkit-transition: opacity .25s cubic-bezier(.25,.25,.75,.75);
transition: opacity .25s cubic-bezier(.25,.25,.75,.75);
}

.transform {
    -webkit-transition: -webkit-transform .25s cubic-bezier(0,0,.25,1);
    transition: -webkit-transform .25s cubic-bezier(0,0,.25,1);
    transition: transform .25s cubic-bezier(0,0,.25,1);
    transition: transform .25s cubic-bezier(0,0,.25,1),-webkit-transform .25s cubic-bezier(0,0,.25,1);
}