@charset "utf-8";

/* common*/
.wrap {min-width:320px; width:100%;}
.inner {display:flex; align-items:center; justify-content:center; width:100%;height:100%;padding:0 6.25vw; -webkit-box-sizing:border-box;box-sizing:border-box;}
.row {display: flex; flex-flow: wrap row;  justify-content:center; width: 100%;}
.main {position:relative;display:block;}
.section {position:relative;z-index:2; background-color:var(--dark);}
.sticky-wrapper {position:relative;z-index:1;}
.sticky {-webkit-position:sticky;position:sticky;top:0;width:100%;height:100vh;z-index: 2;}
.sticky-overflow{position:relative;z-index: 1;width:100%;height:100%;overflow:hidden;}
.sticky-content {position:absolute;z-index: 1;width:100%;height:100vh;padding-top:var(--localnav-height);}
.typography {display:flex; flex-direction:column; justify-content: center; align-items: center;}
.frame-wrap{padding: var(--frame-thickness);}
.frame-row{padding:0 var(--frame-thickness);}
.about-time-line {height:100vh;}
.shadow {display: block;position: absolute;z-index: 1;top: 94%;width: 100%;height: calc(6% + 50vh);background: -webkit-linear-gradient(to bottom,var(--dark) 0%, transparent 60%); background: linear-gradient(to bottom,var(--dark) 0%, transparent 60%);pointer-events: none;}

/* header.main-gnb*/
.main-gnb {-webkit-position:sticky;position:sticky;top:0;left:0;width:100%;height:100%; padding-top:3.48vh;background-color: rgba(30,30,30,0.5);background-color: rgba(30,30,30,0.5); -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1); transition: background-color 0.5s cubic-bezier(0.280.11, 0.32, 1); z-index: 9997;}
.header-wrap {position:relative;}
.header-logo  {align-self: flex-end;}
.header-logo a {width:2.97vh; height:auto;}
.header-wrap  nav {flex:1;}
.header-wrap  nav  ul {display:flex;}
.header-wrap  nav  ul li {font-weight:400;font-size: .88em;margin-left:3.65vw; padding: 1.85vh 1.04vw;}
.header-wrap  nav  ul li a:hover , .action-button:hover {-webkit-transform:scale(1.2); transform:scale(1.2);}
.header-wrap .action-button {font-weight: 600; font-size: .88em;}

/*.section-hero */
.section-hero {z-index: 3;}
.section-hero .sticky-wrapper {top:0; height:150vh;}
.section-hero .sticky {min-height: 920px;}
.hero-content {position:relative; justify-content:center; width:100%; height:100vh; z-index:1;}
.hero-headline {display:flex; justify-content:center; align-items:center;font-weight:600; line-height:1; }
.hero-headline svg {width:50%; font-size:10vw; }
.hero-headline svg .svgText{ stroke: #fff; stroke-width: 1px; fill: none; opacity: 0; animation: stroke 5s 1 forwards;}
.hero-manifesto {position: relative; align-self:flex-start; z-index:2;  padding:100px 0 200px 0;  margin-top: -50vh; background:-webkit-linear-gradient(rgba(0,0,0,0) , rgba(30,30,30,1),rgba(30,30,30,1)); background:linear-gradient(rgba(0,0,0,0) , rgba(30,30,30,1),rgba(30,30,30,1));}
.typography-hero-subhead {font-size: 7.5em; font-weight: 600; line-height:100%; letter-spacing: -.01em;}
.hero-copy {font-size: 32px; text-align:center; line-height:1.6; white-space:pre-line; padding:45px 5vh 50px;}


/*.section-about*/
.section-about {margin-top:-100vh; z-index:1;}
.about-intro {z-index:3;}
.about-bg {z-index:2;}
.about-display {position: relative; width:519px; height:677px;  z-index:2;  -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transform-origin: top center; transform-origin: top center;-webkit-transform: matrix(3.07263, 0, 0, 3.07263, 0, -663.246);transform: matrix(3.07263, 0, 0, 3.07263, 0, -663.246);padding: 22px;}
.about-display-frame {position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat; background-image: url(../images/display_hardware.png);}
.about-display-wrapper {position: relative; z-index: 1; overflow: hidden; width: 100%; height: 100%;}
.fill-screen {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: auto 100.2%; background-position: left center; overflow:hidden;}
.screm {z-index: 3; background: rgba(0,0,0,0.35);}
.fill-screen-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: auto 100.2%; background-position: left center; background-size: auto 100.2%; background-position: left center; background-repeat: no-repeat; background-image: url(../images/display-bg.jpg);}

/* .section-work-triptych */
.section-about{z-index: 2;}
.section-work-triptych .sticky{max-height: 780px; height: calc( 100vh - var(--localnav-height));z-index: 2; padding: var(--frame-thickness) 0;}
.triptych-content{display:flex; justify-content: space-between; align-content:space-between; flex-wrap:wrap;position: relative; width: 100%; height: 100%;} 
.triptych-column {position: relative; width: calc(33.33% - var(--frame-thickness) * 2/3); height:100%; background:#000;}
.triptych-column a{width:100%; height:100%;}
.triptych-image-container {position: relative; width: 100%; height: 100%; overflow: hidden;}
.container-left{padding: 60px 0 0 60px;}
.container-right {display: flex; align-items: center; justify-content: center; width: 100%; padding: 60px;}
.image-triptych-left {--image-y-parallax: 120px; width: 100%; height: calc( 100% + var(--image-y-parallax)); background-repeat: no-repeat; background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/68c76595083499.5e8ef0ddcb82b.png);background-size: 100% auto; background-size: 100% auto; background-position: top left;}
.image-triptych-middle{--image-y-parallax: 160px; width:100%; height: calc( 100% + var(--image-y-parallax) * 2); background-repeat: no-repeat; background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/f4634d95078307.5e8ec020bfa7b.png);  background-size: auto 105%; background-position: center center;}
.image-triptych-right {--image-y-parallax: 80px; background-repeat: no-repeat; background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/a6c0fc95083499.5e902315d1bf9.png); background-size: contain; background-position: 50% 50%; width: 100%; height: 100%;}

/*.section-work */
.section-work {position:relative; z-index:1; height:100%; overflow:visible; margin-top:-100vh;}
.work-wrap {height: calc(200vh - var(--frame-thickness) - var(--frame-thickness)); min-height: 500px;}
.work-content{display:flex; align-content: center; justify-content: left; position:absolute; top: initial; bottom: 0; left: 0;width: 100%; height: 40vh; border-top: var(--frame-thickness) solid var(--dark); margin-bottom: var(--frame-thickness); z-index: 300; background:#000;  transition: transform 1s; overflow: hidden;}
.work-typography {padding: calc( var(--frame-thickness) * 4) 0 calc( var(--frame-thickness) * 2) 10vw; color:#fff;}
.work-headline {font-size:50px; font-weight: 600;}
.work-copy {font-size: 30px; font-weight: 300; padding: 20px 0 0 0;}
.work-copy > li {opacity: 0.5;  padding-top:5px;}
.work-copy > li:hover a{opacity: 1;}
.work-gallery { --caption-frame-height: 50; position:relative; width: 100%; height:100%; background:#000; transition: transform 1s, -webkit-transform 1s;}
.gallery-content {position:relative; width:100%; height: calc( 100% - var(--caption-frame-height) * 1px); z-index: 0; overflow:hidden;}
.gallery-img {position:relative; width:100%; height:100%; background-color: #000; z-index:100;padding:20px;}
.gallery-img-all {width:100%; height:100%; background:url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/836ef195083499.5e90428702cd6.png) no-repeat; background-size: contain; background-position: 50% 50%;}

/*.section-ability */
.ability-wrap {display:flex;display:flex; align-items: center; width:100%; height:100%;}
.ability-content {display:flex; align-items: center;  justify-content: space-between; position:relative; width: 100%;height:100%;}
.circle-items.standard {position:relative; display:flex; justify-content: space-between;align-items: center; width:100%; height:100%; margin-left:0%;}
.circle-items {display:flex; justify-content: space-between;align-items: center; position:absolute; top:0; left:0; width:100%; height:100%; margin-left:115%;}
.circle-left {flex:0 0 calc(50% - 35px); display:flex; justify-content: center;}
.circle-left .circle-copy{display:flex;}
.circle-left .circle-copy .circle-eyebrow{font-weight:400;font-size: 2em;}
.circle-left .circle-copy .circle-headline{font-size: 5em; font-weight: 600; margin-left: 2vw; color: transparent; -webkit-text-stroke: 1px rgba(255,255,255,1);}
.circle-right {flex:0 0 50%; height:50vh; overflow: hidden; cursor: pointer; border:1px solid #fff;} 
.circle-content {position:relative; width:100%; height:100%;}
.circle-content .explain{display: flex; justify-content: center; align-items: flex-end; padding: 40px 100px;width:100%; height:100%; background:#000; font-size: 14px; line-height:1.6; opacity: .2;  text-align:center; transition:all 0.5s cubic-bezier(.215,.61,.355,1);}
.circle-content:hover .explain { align-items: center;opacity: .9;}
.ani1 {position:absolute; top:0; left:0; width:100%; height:50vh;}
.arrow {display: inline-flex; justify-content: space-between; padding:0  5vw; align-items: center; height: 100%;position:absolute;  top:0; right:0; color:#fff; }
.arrow button {color:#fff;}

/* .paging */ 
.paging {display: -webkit-inline-box; display: -ms-inline-box;display:inline-flex; align-self:flex-start; position:absolute;  top:25%;  height:3vh;  color: var(--light); font-size: 1em;}
.paging .current-area {width:100%; height:2vh; overflow: hidden; text-align: center; font-size: 18px;}
.paging .current-area .currunt{width:100%; height:3vh; overflow: hidden; text-align: center;}
.paging .total-area  {align-self: flex-end;}
.paging  .stroke {width:100%; -webkit-text-stroke: .05vw var(--gray); text-stroke: .05vw var(--gray); color: transparent;}


/* .section-contact */
.section-contact {background-color: #000;}

/*.carousel*/
.carousel {position:-webkit-sticky; position:sticky;  bottom:6.02vh; left:0; width:100%; z-index: 9999;}
.carousel-wrap li {position:relative; display:flex; align-items:center; justify-content: flex-start; width:20%;}
.carousel-wrap li:not(:last-child) {width: 20%;}
.carousel-wrap li .dot {display:flex; flex-direction: column; justify-content: center; min-width: 16px; }
.carousel-wrap li .dot  p {opacity:0; visibility: hidden; transform: translate3d(0px, 10px, 10px); font-weight: 800; font-size: .88em; color: var(--light);}
.carousel-wrap li .dot  p::after {opacity:0; content:""; display: inline-flex; color: var(--gray); margin-left: .5em; font-size: .75em; transform: translate3d(-15px, 0px, 11px); transition: transform .35s cubic-bezier(0,0,.25,1),-webkit-transform .35s cubic-bezier(0,0,.25,1);}
.carousel-wrap li .column-line { opacity:0; visibility: hidden; transform: translate3d(0px, 0px, 12px) scale(1, 0); width: 1px; height: 1.04vw; min-height: 16px; background-color: var(--gray); margin-left: .3em;}
.carousel-wrap li .dot a {opacity:.2; width:10px; height:10px; border-radius: 5vh;background-color: var(--light); transform: matrix(0.7, 0, 0, 0.7, 0, 0);}
.carousel-wrap li .row-line {opacity:.2; position:absolute; bottom:.3em; right:100%; width:0vw; height:1px; background-color: var(--light); transition:width .35s cubic-bezier(0,0,.25,1); margin-right:.5vw;}
.carousel-wrap li .row-line::after {content:""; opacity:.2; position:absolute; bottom:0; right:0; width:13vw; height:1px; background-color: var(--light); }

/*.carousel li.active*/
.carousel-wrap li.active:nth-child(1) p::after {content:"| home |";}
.carousel-wrap li.active:nth-child(2) p::after {content:"| work |";}
.carousel-wrap li.active:nth-child(3) p::after {content:"| animation |";}
.carousel-wrap li.active:nth-child(4) p::after {content:"| ability |";}
.carousel-wrap li.active:nth-child(5) p::after {content:"| about |";}
.carousel-wrap li.active:nth-child(6) p::after {content:"| touch |";}
.carousel-wrap li.active p {opacity:1; visibility:inherit; transform: translate3d(0px, 0px, 11px);}
.carousel-wrap li.active p::after {opacity:1; transform: translate3d(0px, 0px, 12px);}
.carousel-wrap li.active .column-line  {opacity:1; visibility:inherit; transform: translate3d(0px, 0px, 12px);}
.carousel-wrap li.active .dot a{opacity:1; background-color: var(--primary-color); transform: matrix(1, 0, 0, 1, 0, 0);} 
.carousel-wrap li.active .row-line {opacity:1; width:13vw;}


/* media Query */
@media only screen and (min-width: 1441px){
    :root{ --frame-thickness: 40px;}
 .section-work-triptych .sticky {max-height: 980px;}
 .hero-headline svg {width:50%; font-size:9vw; }
}

@media only screen and (max-width: 1068px){
:root{--frame-thickness: 20px;}
.sticky {min-height:840px}
.section-work-triptych .sticky {max-height: 1320px; min-height:auto;}
.typography-hero-subhead { font-size: 4.5em;}
.hero-copy {font-size: 28px; }
.triptych-column {position: relative; width: calc(50% - var(--frame-thickness) * 0.5);   height: calc(50% - var(--frame-thickness) * 0.5); }
.triptych-column.column-right {position: relative; width: 100%; height: calc(50% - var(--frame-thickness) * 0.5); background:#000;}
.container-left{padding: 40px 0 0 40px;}
.container-right {padding: 15px;}
.image-triptych-left {--image-y-parallax: 90px;}
.image-triptych-middle {--image-y-parallax: 120px;}
.image-triptych-right {--image-y-parallax: 60px; background-repeat: no-repeat; background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/35f1b195083499.5e8eeb579154b.png); background-size: contain; background-position: 50% 50%; width: 100%; height: 100%;}
.work-gallery { --caption-frame-height: 90;}
.work-typography {padding-left:10vw;}
.work-copy {font-size: 24px; }
.ability-wrap{height:auto;}
.ability-content {height:auto;}
.circle-items {flex-direction:column; align-items: stretch;height: auto;}
.circle-left {display: flex; justify-content: center; padding-bottom:40px;}
.circle-content .explain {font-size: 18px; padding:3.75vw 14.98vw;}
.paging {top: 20%; left: 4.4vw;height: 3vh;}
.arrow {display: flex; justify-content: space-between; padding:0  5vw; align-items: center; height: 100%;position:absolute;  top:6vw; color:#fff; }
}

@media only screen and (max-width: 734px){
    :root {--frame-thickness: 15px; --localnav-height: 48px; }
    .typography-hero-subhead {font-size: 60px;font-weight: 800;}
    .section-work-triptych .sticky {max-height: 680px;}
    .container-left{padding: 24px 0 0 24px;min-height: initial;}
    .container-right {padding: 30px;}
    .image-triptych-left {--image-y-parallax: 50px;}
    .work-copy{font-size: 16px;}
    .circle-content .explain {font-size:12px; padding:3.75vw 15.5vw;}
    
  }

@media only screen and (max-width: 568px){
  .m-only {display:block;} .pc-only{display:none;}
  .dot-one {transform:scale(1.5);}
  .header-logo {align-self: center;}
  .header-wrap .action-button { transform: scale(1);}
  .header-wrap .action-button .Scroll {padding-top:3px;}
  .hero-headline svg {width:80%; font-size:18.5vw; }
  .hero-headline svg .svgText:nth-child(2){transform:translateY(-10%);}
  .hero-manifesto {padding:30px 6.25vw 0; margin-top: -60vh; text-align: center; font-size: 50px;}
  .hero-manifesto .typography-hero-subhead {padding-top:30px;}
  .hero-copy {font-size: 18px; ;padding: 45px 0 35vw;}
  .work-copy{font-size: 10px;}
  .work-copy {padding: 20px 0 0 50px;}
  .work-copy > li a {line-height:100%; padding-top:3vw; }

    }

    @media only screen and (max-width: 376px){
      .hero-manifesto {margin-top: -65vh;}
      .hero-manifesto .typography-hero-subhead {padding-top:0;}

    }