@charset "utf-8";

/* common*/
.wrap {
  min-width: 320px;
  width: 100%;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 6.25vw;
}
.row {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  width: 100%;
}
.main {
  position: relative;
  display: block;
}
.will-change {
  will-change: transform, opacity;
}
.section {
  position: relative;
  z-index: 2;
  background-color: var(--dark);
}
.sticky-wrapper {
  position: relative;
  z-index: 1;
}
.sticky {
  -webkit-position: sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.sticky-overflow {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.sticky-content {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding-top: var(--localnav-height);
}
.typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.frame-wrap {
  padding: var(--frame-thickness);
}
.frame-row {
  padding: 0 var(--frame-thickness);
}
.about-time-line {
  height: 100vh;
}
.shadow {
  display: block;
  position: absolute;
  top: 94%;
  width: 100%;
  height: calc(6% + 50vh);
  z-index: 1;
  background: -webkit-linear-gradient(
    to bottom,
    var(--dark) 0%,
    transparent 60%
  );
  background: linear-gradient(to bottom, var(--dark) 0%, transparent 60%);
}
/* header.main-gnb*/
.main-gnb {
  -webkit-position: sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 3.48vh;
  background-color: rgba(30, 30, 30, 0.5);
  background-color: rgba(30, 30, 30, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition: background-color 0.5s cubic-bezier(0.28.11, 0.32, 1);
  z-index: 9997;
}
.header-wrap {
  position: relative;
}
.header-logo {
  align-self: center;
}
.header-logo a {
  width: 2.97vh;
  height: auto;
}
.header-wrap nav {
  flex: 1;
}
.header-wrap nav ul {
  display: flex;
}
.header-wrap nav ul li {
  font-weight: 400;
  font-size: 0.88em;
  margin-left: 3.65vw;
  padding: 1.85vh 1.04vw;
}
.navlist li.show a {
  color: var(--primary-color);
}
/*.section-hero */
.section-hero {
  z-index: 3;
}
.section-hero .sticky-wrapper {
  top: 0;
  height: 150vh;
}
.section-hero .sticky {
  min-height: 920px;
}
.hero-content {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
  padding: 0 16.67vw;
}
.hero-eyebrow {
  font-size: 0.88em;
  font-weight: 800;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, -50, 0);
  transition: opacity 0.25s cubic-bezier(0.25, 0.25, 0.75, 0.75),
    transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.hero-text {
  flex: 0 0 50%;
  max-width: 50%;
  z-index: 2;
  padding-left: 8vw;
}
.hero-headline {
  font-weight: 700;
  line-height: 1;
  font-size: 7.29vw;
  text-align: left;
  margin-top: 2.6vh;
}
.hero-headline span {
  display: flex;
  opacity: 0;
  transform: matrix(1, 0, 0, 1, -50, 0);
}
.hero-headline span:nth-of-type(1) {
  transition: opacity 0.5s cubic-bezier(0.25, 0.25, 0.75, 0.75),
    transform 0.5s cubic-bezier(0, 0, 0.25, 1);
}
.hero-headline span:nth-of-type(2) {
  transition: opacity 0.5s 0.45s cubic-bezier(0.25, 0.25, 0.75, 0.75),
    transform 0.5s 0.45s cubic-bezier(0, 0, 0.25, 1);
}
.hero-circle {
  position: relative;
  flex: 0 0 50%;
  height: 100%;
}
.hero-circle-shape {
  position: absolute;
  top: 15%;
  right: 15%;
  width: 600px;
  height: 600px;
  border: 1px solid var(--gray);
  border-radius: 50vh;
  padding: 80px;
}
.shape-mask {
  width: 100%;
  height: 100%;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/6f764295083499.5e943a07c2f47.gif);
  background-repeat: no-repeat;
  background-size: contain;
  animation: borderRadius 15s ease-in-out infinite both alternate;
}
.hero-manifesto {
  position: relative;
  align-self: flex-start;
  z-index: 2;
  padding: 100px 0 200px 0;
  margin-top: -50vh;
  background: -webkit-linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(30, 30, 30, 1),
    rgba(30, 30, 30, 1)
  );
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(30, 30, 30, 1),
    rgba(30, 30, 30, 1)
  );
}
.typography-hero-subhead {
  font-size: 7.5em;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.05em;
  text-align: center;
}
.hero-copy {
  font-size: 42px;
  letter-spacing: 0.01em;
  text-align: center;
  line-height: 1.6;
  white-space: pre-line;
  padding: 45px 3vh 50px;
}
.section-hero.active .hero-eyebrow {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.section-hero.active .hero-headline span {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
/*.section-about*/
.section-about {
  margin-top: -100vh;
  z-index: 2;
}
.about-intro {
  z-index: 3;
}
.about-bg {
  z-index: 2;
}
.about-display {
  position: relative;
  width: 519px;
  height: 677px;
  z-index: 2;
  padding: 22px;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: matrix(3.07263, 0, 0, 3.07263, 0, -663.246);
  transform: matrix(3.07263, 0, 0, 3.07263, 0, -663.246);
}
.about-display-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/display_hardware.png);
}
.about-display-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fill-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100.2%;
  background-position: left center;
  overflow: hidden;
}
.screm {
  z-index: 3;
  background: rgba(0, 0, 0, 1);
  opacity: 0.35;
}
.section-about.active .screm {
  opacity: 0;
}
.fill-screen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100.2%;
  background-position: left center;
  background-size: auto 100.2%;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../images/display-bg.jpg);
}
.fill-screen-bg2 {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100.2%;
  background-position: left center;
  background-size: auto 100.2%;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url(../images/display-bg2.jpg);
}
/* .section-work-triptych */
.section-work-triptych .sticky {
  max-height: 780px;
  height: calc(100vh - var(--localnav-height));
  z-index: 2;
  padding: var(--frame-thickness) 0;
}
.triptych-content {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
}
.triptych-column {
  position: relative;
  width: calc(33.33% - var(--frame-thickness) * 2 / 3);
  height: 100%;
  background: #000;
}
.triptych-column a {
  width: 100%;
  height: 100%;
}
.triptych-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-left {
  padding: 60px 0 0 60px;
}
.container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60px;
}
.image-triptych-left {
  --image-y-parallax: 120px;
  width: 100%;
  height: calc(100% + var(--image-y-parallax));
  background-repeat: no-repeat;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/68c76595083499.5e8ef0ddcb82b.png);
  background-size: 100% auto;
  background-size: 100% auto;
  background-position: top left;
}
.image-triptych-middle {
  --image-y-parallax: 160px;
  width: 100%;
  height: calc(100% + var(--image-y-parallax) * 2);
  background-repeat: no-repeat;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/f4634d95078307.5e8ec020bfa7b.png);
  background-size: auto 105%;
  background-position: center center;
}
.image-triptych-right {
  --image-y-parallax: 80px;
  background-repeat: no-repeat;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/a6c0fc95083499.5e902315d1bf9.png);
  background-size: contain;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
}
/*.section-work */
.section-work {
  position: relative;
  height: 100%;
  z-index: 1;
  overflow: visible;
  margin-top: -100vh;
}
.work-wrap {
  min-height: 500px;
  height: calc(200vh - var(--frame-thickness) - var(--frame-thickness));
}
.work-content {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  top: initial;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  border-top: var(--frame-thickness) solid var(--dark);
  margin-bottom: var(--frame-thickness);
  z-index: 300;
  background: #000;
  transition: transform 1s;
  overflow: hidden;
}
.work-typography {
  color: #fff;
  padding: calc(var(--frame-thickness) * 4) 0 calc(var(--frame-thickness) * 2)
    10vw;
}
.work-headline {
  font-size: 50px;
  font-weight: 600;
}
.work-copy {
  font-size: 30px;
  font-weight: 300;
  padding: 20px 0 0 0;
}
.work-copy > li {
  opacity: 0.5;
  padding-top: 5px;
}
.work-copy > li:hover a {
  opacity: 1;
}
.work-gallery {
  --caption-frame-height: 50;
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  transition: transform 1s, -webkit-transform 1s;
}
.gallery-link {
  width: 100%;
  height: 100%;
}
.gallery-content {
  position: relative;
  width: 100%;
  height: calc(100% - var(--caption-frame-height) * 1px);
  z-index: 0;
  overflow: hidden;
}
.gallery-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  padding: 20px;
}
.gallery-img-all {
  width: 100%;
  height: 100%;
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/7bf9c995083499.5e9cace47c0eb.png)
    no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}
/*.section-ability */
.section-ability .sticky {
  background-color: #000;
}
.ability-wrap {
  display: flex;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
.ability-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}
.rect-items.standard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 0%;
}
.rect-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 115%;
}
.rect-left {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(50% - 35px);
}
.rect-left .rect-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.rect-left .rect-copy .rect-eyebrow {
  font-weight: 400;
  font-size: 0.88em;
  transform: scale(1);
}
.rect-left .rect-copy .rect-headline {
  font-size: 5em;
  font-weight: 600;
  margin-left: 2vw;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}
.rect-right {
  flex: 0 0 50%;
  height: 50vh;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #fff;
}
.rect-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.rect-content .explain {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 40px 100px;
  background: #000;
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.2;
  text-align: center;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.rect-content:hover .explain {
  align-items: center;
  opacity: 0.9;
}
.ani1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
}
.arrow {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  color: #fff;
  padding: 0 2vw;
}
.arrow button {
  color: #fff;
  font-size: 0.88em;
}
/*.section-ability .paging */
.paging {
  display: -webkit-inline-box;
  display: -ms-inline-box;
  display: inline-flex;
  align-self: flex-start;
  position: absolute;
  top: 25%;
  height: 3vh;
  color: var(--light);
  font-size: 1em;
}
.paging .current-area {
  width: 100%;
  height: 2vh;
  overflow: hidden;
  text-align: center;
}
.paging .current-area .current {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
}
.paging .total-area {
  align-self: flex-end;
}
.paging .stroke {
  width: 100%;
  -webkit-text-stroke: 0.5px var(--gray);
  -webkit-text-stroke: 0.5px var(--gray);
  color: transparent;
}
/* .section-contact */
.section-contact {
  background-color: var(--dark);
}
.contact-wrap .contact-eyebrow {
  justify-content: center;
  font-weight: 400;
  font-size: 0.88em;
  transform: scale(1);
}
.contact-headline {
  font-weight: 800;
  font-size: 5em;
  padding: 0 0 2vw 0;
}
.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.myself {
  flex: 0 0 50%;
}
.myself-circle-shape {
  width: 600px;
  height: 600px;
  border: 1px solid var(--gray);
  border-radius: 50vh;
  padding: 80px;
}
.myself-mask {
  width: 100%;
  height: 100%;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/96c1c895083499.5ea69989290f9.gif);
  background-repeat: no-repeat;
  background-size: contain;
  animation: borderRadius 15s ease-in-out infinite both alternate;
}
.contact {
  flex: 0 0 50%;
  padding: 0 4vw;
}
.contact input,
textarea {
  background: transparent;
  border: none;
}
.contact-input {
  overflow: hidden;
  width: 100%;
}
.contact-input input {
  max-width: 27.86vw;
  width: 100%;
  color: var(--light);
  text-overflow: ellipsis;
  font-size: 3em;
  line-height: 2.11;
}
.contact-items {
  position: relative;
  width: 100%;
}
.contact-items:nth-child(n + 2) {
  margin-top: 6.11vh;
}
.label-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  color: transparent;
  text-overflow: ellipsis;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-text-stroke: 0.05vw var(--gray);
  text-stroke: 0.05vw var(--gray);
  font-weight: 700;
  font-size: 3em;
  line-height: 2.12;
}
.message-content {
  width: 100%;
  max-width: 27.86vw;
  color: var(--light);
  text-overflow: ellipsis;
  font-size: 1.5em;
  line-height: 1.3;
  margin-top: 2.41vh;
  padding-bottom: 2.41vh;
  overflow: hidden;
  resize: none;
}
.contact-button {
  width: 100%;
  font-size: 5.5em;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.05vw var(--light);
  text-stroke: 0.05vw var(--light);
  margin-top: 10vh;
}
.contact-button .point {
  letter-spacing: -0.2em;
  -webkit-text-stroke: 0.05vw var(--primary-color);
  text-stroke: 0.05vw var(--primary-color);
  cursor: pointer;
  -webkit-transition: color 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: color 0.25s cubic-bezier(0, 0, 0.25, 1);
  margin-left: 2vw;
}
.contact-button:hover {
  color: var(--light);
}
.contact-button:hover span {
  color: var(--primary-color);
}
.line.opacity {
  height: 1px;
  background-color: var(--light);
  opacity: 0.9;
}
.contact-input:hover .line.opacity {
  opacity: 0.3;
}
.label-text.active {
  color: var(--gray);
  -webkit-transform: scale(0.5) translateY(-85%);
  transform: scale(0.5) translateY(-85%);
  -webkit-text-stroke-width: 0;
  text-stroke-width: 0;
  font-weight: 400;
}
p.caution {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  font-size: 1.13em;
  line-height: 2.17;
  color: var(--error-color);
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--frame-thickness);
  padding-bottom: 20px;
}
.copyright {
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 400;
  opacity: 0.6;
}
/* media Query */
@media only screen and (min-width: 1441px) {
  :root {
    --frame-thickness: 40px;
  }
  .hero-manifesto {
    padding: 150px 0 200px 0;
  }
  .section-work-triptych .sticky {
    max-height: 980px;
  }
}

@media only screen and (max-width: 1068px) {
  :root {
    --frame-thickness: 20px;
  }
  .sticky {
    min-height: 840px;
  }
  .hero-text {
    max-width: 100%;
    padding-left: 0;
  }
  .hero-circle-shape {
    top: 25%;
    right: 0;
    width: 500px;
    height: 500px;
    padding: 80px;
  }
  .typography-hero-subhead {
    font-size: 8.2vw;
  }
  .hero-copy {
    font-size: 3vw;
  }
  .section-work-triptych .sticky {
    max-height: 1320px;
    min-height: auto;
  }
  .triptych-column {
    position: relative;
    width: calc(50% - var(--frame-thickness) * 0.5);
    height: calc(50% - var(--frame-thickness) * 0.5);
  }
  .triptych-column.column-right {
    position: relative;
    width: 100%;
    height: calc(50% - var(--frame-thickness) * 0.5);
    background: #000;
  }
  .container-left {
    padding: 40px 0 0 40px;
  }
  .container-right {
    padding: 15px;
  }
  .image-triptych-left {
    --image-y-parallax: 90px;
  }
  .image-triptych-middle {
    --image-y-parallax: 120px;
  }
  .image-triptych-right {
    --image-y-parallax: 60px;
    background-repeat: no-repeat;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/35f1b195083499.5e8eeb579154b.png);
    background-size: contain;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
  .work-gallery {
    --caption-frame-height: 90;
  }
  .work-typography {
    padding-left: 10vw;
  }
  .work-copy {
    font-size: 24px;
  }
  .ability-content {
    height: auto;
  }
  .rect-items {
    flex-direction: column;
    align-items: stretch;
    height: auto;
  }
  .rect-left {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .rect-content .explain {
    font-size: 18px;
    padding: 3.75vw 14.98vw;
  }
  .paging {
    top: 20%;
    left: 4.4vw;
    height: 3vh;
  }
  .arrow {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 6vw;
    color: #fff;
  }
  .myself-circle-shape {
    width: 46vw;
    height: 46vw;
    padding: 7.49vw;
  }
  p.caution {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --frame-thickness: 15px;
    --localnav-height: 48px;
  }
  .hero-headline {
    font-size: 5.5em;
  }
  .hero-circle-shape {
    top: 30%;
    right: 0;
    width: 400px;
    height: 400px;
    padding: 80px;
  }
  .section-work-triptych .sticky {
    max-height: 680px;
  }
  .container-left {
    padding: 24px 0 0 24px;
    min-height: initial;
  }
  .container-right {
    padding: 30px;
  }
  .image-triptych-left {
    --image-y-parallax: 50px;
  }
  .work-copy {
    font-size: 16px;
  }
  .rect-left .rect-copy {
    flex-direction: column;
  }
  .rect-content .explain {
    font-size: 12px;
    padding: 3.75vw 15.5vw;
  }
  .myself {
    flex: 1;
    padding-top: 30px;
  }
  .myself-circle-shape {
    width: 40vw;
    height: 40vw;
    padding: 5vw;
  }
  .contact-content {
    flex-direction: column;
  }
  .contact-input input {
    max-width: 100%;
  }
  .label-text {
    -webkit-text-stroke: 1px var(--gray);
    text-stroke: 1px var(--gray);
  }
  .contact {
    flex: 1;
    width: 100%;
  }
  .contact-items:nth-child(n + 2) {
    margin-top: 4vh;
  }
  .contact-button {
    margin-top: 5vh;
    font-size: 6.8vw;
  }
  .label-text.active {
    -webkit-transform: scale(0.4) translateY(-5%);
    transform: scale(0.4) translateY(-5%);
  }
}

@media only screen and (max-width: 568px) {
  .m-only {
    display: block;
  }
  .pc-only {
    display: none;
  }
  .dot-one {
    transform: scale(1.5);
  }
  .header-wrap .action-scroll {
    transform: scale(1);
  }
  .header-wrap .action-scroll .Scroll {
    padding-top: 3px;
  }
  .hero-text {
    padding-left: 2vw;
  }
  .hero-eyebrow {
    transform: scale(1);
  }
  .hero-headline {
    font-size: 4.5em;
  }
  .hero-circle-shape {
    width: 350px;
    height: 350px;
    padding: 60px;
  }
  .hero-manifesto {
    padding: 30px 16.25vw 0;
    text-align: center;
    font-size: 50px;
  }
  .hero-manifesto .typography-hero-subhead {
    padding-top: 50px;
    font-size: 12.32vw;
  }
  .hero-copy {
    font-size: 4vw;
    padding: 35px 0 35vw;
  }
  .work-copy {
    font-size: 10px;
  }
  .work-copy {
    padding: 20px 0 0 50px;
  }
  .work-copy > li a {
    line-height: 100%;
    padding-top: 3vw;
  }
  .contact-button {
    font-size: 14vw;
  }
  .rect-left {
    padding-bottom: 0;
  }
  .rect-left .rect-copy .rect-headline {
    font-size: 13vw;
  }
  .contact-headline {
    font-size: 14vw;
  }
  .about-display {
    width: 319px;
    height: 417px;
    padding: 10px;
  }
  .contact-items:nth-child(n + 2) {
    margin-top: 2vh;
  }
  .carousel-wrap li.active .row-line {
    width: 8vw;
  }
  .carousel-wrap li .row-line::after {
    width: 8vw;
  }
  .carousel-wrap li.active:nth-child(3) p::after {
    font-size: 8px;
  }
}

@media only screen and (max-width: 376px) {
  .hero-content {
    padding: 0 16.67vw 16vw;
  }
  .hero-headline {
    font-size: 3.5em;
  }
  .hero-circle-shape {
    top: 35%;
    width: 300px;
    height: 300px;
    padding: 60px;
  }
  .hero-manifesto .typography-hero-subhead {
    padding-top: 0;
  }
  .myself-circle-shape {
    width: 80vw;
    height: 80vw;
    padding: 5vw;
  }
  .carousel-wrap li.active p::after {
    display: none;
  }
}
