
.text--giant {
    font-size: 96px;
  }
  
  .text--large {
    font-size: 64px;
  }
  
  .text--big {
    font-size: 36px;
  }
  
  .text--regular {
    font-size: 14px;
  }
  
  .text--small {
    font-size: 10px;
  }
  
  .text--bold {
    font-weight: 700;
  }
  
  @media screen and (min-width: 1600px) {
    .text--giant {
      font-size: 138px;
    }
    .text--large {
      font-size: 76px;
    }
    .text--big {
      font-size: 48px;
    }
    .text--regular {
      font-size: 18px;
    }
    .text--small {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .text--giant {
      font-size: 76px;
    }
    .text--large {
      font-size: 48px;
    }
    .text--big {
      font-size: 28px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .text--giant {
      font-size: 52px;
    }
    .text--large {
      font-size: 44px;
    }
  }
  
  /*** Resources ***/
  @font-face {
    font-family: 'FG';
    src: url("../fonts/FoundersGroteskMedium.woff") format("woff");
    src: url("../fonts/FoundersGroteskMedium.woff2") format("woff2");
    font-style: bold;
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'FG';
    src: url("../fonts/FoundersGroteskRegular.woff") format("woff");
    src: url("../fonts/FoundersGroteskRegular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  /*** Main style ***/
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: #fafafa;
    font-family: 'FG', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    line-height: .9;
    color: #1A1A1A;
    overflow: hidden;
  }
  
  body.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  @media screen and (min-width: 1600px) {
    body {
      font-size: 14px;
    }
  }
  
  button {
    padding: 0;
    background: none;
    border: none;
    font: inherit;
    text-transform: inherit;
    line-height: inherit;
    text-align: inherit;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #1A1A1A;
  }
  
  button:focus, a:focus {
    outline: 0 solid transparent;
  }
  
  .link {
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 15px 0;
    display: inline-block;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #1A1A1A), color-stop(33%, #1A1A1A), color-stop(33%, transparent), color-stop(66%, transparent), color-stop(66%, #1A1A1A), to(#1A1A1A)) left bottom transparent no-repeat;
    background: linear-gradient(to right, #1A1A1A 0, #1A1A1A 33%, transparent 33%, transparent 66%, #1A1A1A 66%, #1A1A1A 100%) left bottom transparent no-repeat;
    background-size: 300% 1px;
    background-position: 100% calc(100% - 15px);
    -webkit-transition: background 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .link:hover, .link:focus {
    color: #1A1A1A;
    background-position: 0 calc(100% - 15px);
  }
  
  .reveal {
    margin-top: -5px;
    padding-top: 5px;
    overflow: hidden;
  }
  
  .revealspan {
    display: inline-block;
    vertical-align: middle;
  }
  
  .reveal span {
    display: inline-block;
    white-space: pre;
  }
  
  img {
    height: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
  }
  
  .noselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  #rendered {
    position: absolute;
    left: 0;
    top: -5%;
    overflow: hidden;
    pointer-events: none;
  }
  
  .curtains-ready .plane {
    opacity: 0;
  }
  
  #canvas {
    height: 110vh;
    width: 100vw;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
  }
  
  .page-bg {
    position: fixed;
    left: 0;
    top: -5%;
    z-index: -1;
    width: 100%;
    height: 110%;
    background: #f2f2f2;
  }
  
  #pattern {
    display: none;
  }
  
  #cursor {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    z-index: 91;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(26, 26, 26, 0.5);
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.84), -webkit-transform 0s;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.84), -webkit-transform 0s;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.84), transform 0s;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.84), transform 0s, -webkit-transform 0s;
    pointer-events: none;
  }
  
  #cursor.active {
    width: 60px;
    height: 60px;
  }
  
  #cursor .cursor__text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #cursor .cursor__text .char1 {
    -webkit-transform: rotate(-68deg) translate(0, 0);
            transform: rotate(-68deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char2 {
    -webkit-transform: rotate(-56deg) translate(0, 0);
            transform: rotate(-56deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char3 {
    -webkit-transform: rotate(-44deg) translate(0, 0);
            transform: rotate(-44deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char4 {
    -webkit-transform: rotate(-32deg) translate(0, 0);
            transform: rotate(-32deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char5 {
    -webkit-transform: rotate(-20deg) translate(0, 0);
            transform: rotate(-20deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char6 {
    -webkit-transform: rotate(-8deg) translate(0, 0);
            transform: rotate(-8deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char7 {
    -webkit-transform: rotate(4deg) translate(0, 0);
            transform: rotate(4deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char8 {
    -webkit-transform: rotate(16deg) translate(0, 0);
            transform: rotate(16deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char9 {
    -webkit-transform: rotate(28deg) translate(0, 0);
            transform: rotate(28deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char10 {
    -webkit-transform: rotate(40deg) translate(0, 0);
            transform: rotate(40deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char11 {
    -webkit-transform: rotate(52deg) translate(0, 0);
            transform: rotate(52deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char12 {
    -webkit-transform: rotate(64deg) translate(0, 0);
            transform: rotate(64deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char13 {
    -webkit-transform: rotate(76deg) translate(0, 0);
            transform: rotate(76deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char14 {
    -webkit-transform: rotate(88deg) translate(0, 0);
            transform: rotate(88deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char15 {
    -webkit-transform: rotate(100deg) translate(0, 0);
            transform: rotate(100deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char16 {
    -webkit-transform: rotate(112deg) translate(0, 0);
            transform: rotate(112deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char17 {
    -webkit-transform: rotate(124deg) translate(0, 0);
            transform: rotate(124deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char18 {
    -webkit-transform: rotate(136deg) translate(0, 0);
            transform: rotate(136deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char19 {
    -webkit-transform: rotate(148deg) translate(0, 0);
            transform: rotate(148deg) translate(0, 0);
  }
  
  #cursor .cursor__text .char20 {
    -webkit-transform: rotate(160deg) translate(0, 0);
            transform: rotate(160deg) translate(0, 0);
  }
  
  #cursor .cursor__text span {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    display: inline-block;
    width: 5px;
    height: 25px;
    color: #595959;
    font-size: 8px;
    text-align: center;
    -webkit-transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: height 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #cursor svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    opacity: 0;
  }
  
  #cursor svg circle {
    stroke-dasharray: 188.49556;
    stroke-dashoffset: 188.49556;
  }
  
  #cursor.processing:not(.detailed) {
    border: 1px solid rgba(26, 26, 26, 0.25);
  }
  
  #cursor.processing:not(.detailed) svg {
    opacity: .6;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  
  #cursor.processing:not(.detailed) svg circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 1.5s ease-in-out;
    transition: stroke-dashoffset 1.5s ease-in-out;
  }
  
  #cursor.detailed .cursor__text {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  
  #cursor.detailed .cursor__text span {
    height: 42px;
  }
  
  body:active #cursor {
    -webkit-animation: cursor_ring .4s;
            animation: cursor_ring .4s;
  }
  
  @-webkit-keyframes cursor_ring {
    0% {
      background: rgba(255, 255, 255, 0.4);
    }
    100% {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  
  @keyframes cursor_ring {
    0% {
      background: rgba(255, 255, 255, 0.4);
    }
    100% {
      background: rgba(255, 255, 255, 0.2);
    }
  }
  
  @media screen and (max-width: 992px) {
    #cursor {
      visibility: hidden;
    }
  }
  
  .screen-loader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    opacity: 1;
    -webkit-transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded .screen-loader {
    opacity: 0;
    pointer-events: none;
  }
  
  .screen-loader__text {
    margin-bottom: 8px;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
  }
  
  .progress {
    position: relative;
  }
  
  .progress__present {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
    background: #1A1A1A;
  }
  
  .progress__holder {
    width: 200px;
    height: 1px;
    background: #1A1A1A;
    opacity: .2;
  }
  
  #page {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500vw;
    height: 100%;
  }
  
  #page::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(/img/noise.png) repeat;
    -webkit-animation: noise 0.5s steps(8) infinite;
            animation: noise 0.5s steps(8) infinite;
    opacity: .85;
  }
  
  @-webkit-keyframes noise {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  @keyframes noise {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    #page::after {
      opacity: .4;
    }
  }
  
  .section {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 100px;
    width: 100vw;
  }
  
  .section:not(.current) .section__nav {
    pointer-events: none;
  }
  
  .section__nav {
    position: absolute;
    top: 50%;
    z-index: 9;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .section__nav span {
    display: inline-block;
    -webkit-text-stroke: 1px #1A1A1A;
    color: transparent;
    pointer-events: none;
  }
  
  .section__nav .letter {
    background-image: -webkit-gradient(linear, left top, right top, from(#1A1A1A), to(#1A1A1A));
    background-image: linear-gradient(to right, #1A1A1A, #1A1A1A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 0%;
    -webkit-transition: background-size 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: background-size 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .section__nav:hover .letter, .section__nav:focus .letter {
    background-size: 100% 100%;
  }
  
  .section__nav > span > span:not(.letter):not(.blank) {
    padding: 0 50px 10px;
    overflow: hidden;
  }
  
  .section__nav > span > span:not(.letter):not(.blank):not(:first-child) {
    -webkit-transform: translate(0, -28px);
            transform: translate(0, -28px);
  }
  
  .section__nav--right {
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  
  .section__nav--right:hover, .section__nav--right:focus {
    -webkit-transform: translate(30%, -45%) rotate(-5deg);
            transform: translate(30%, -45%) rotate(-5deg);
  }
  
  .section__nav--left {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .section__nav--left:hover, .section__nav--left:focus {
    -webkit-transform: translate(-30%, -55%) rotate(5deg);
            transform: translate(-30%, -55%) rotate(5deg);
  }
  
  .section__nav--left .letter {
    -webkit-transform: translate(0, -120%);
            transform: translate(0, -120%);
  }
  
  @media screen and (min-width: 1600px) {
    .section__nav > span > span:not(.letter):not(.blank):not(:first-child) {
      -webkit-transform: translate(0, -35px);
              transform: translate(0, -35px);
    }
  }
  
  @media screen and (max-width: 1200px) {
    .section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
  
  @media screen and (max-width: 992px) {
    .section {
      padding: 80px 70px;
    }
    .section__nav:hover .letter {
      background-size: 100% 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section {
      padding: 20px;
    }
    .section__nav {
      display: none;
    }
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    padding: 60px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    pointer-events: none;
  }
  
  .header * {
    pointer-events: auto;
  }
  
  .header .logo {
    font-size: 12px;
    cursor: pointer;
  }
  
  .header .scrollbar {
    position: relative;
    width: 300px;
  }
  
  .header .scrollbar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #1A1A1A;
    opacity: .2;
  }
  
  .header #scrollbar__thumb {
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 1;
    width: 50px;
    height: 50px;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84);
    transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84), -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84);
  }
  
  .header #scrollbar__thumb:hover {
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .header #scrollbar__thumb.virgin:hover span::after {
    opacity: 1;
  }
  
  .header #scrollbar__thumb:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  .header #scrollbar__thumb::after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 1px;
    background: #1A1A1A;
  }
  
  .header #scrollbar__thumb span {
    position: absolute;
    left: 50%;
    top: 20px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    text-align: center;
    white-space: nowrap;
    pointer-events: none;
  }
  
  .header #scrollbar__thumb.virgin span::after {
    content: 'gently!';
    display: block;
    font-size: 110%;
    text-transform: initial;
    line-height: 1;
    white-space: pre;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    padding: 60px 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    pointer-events: none;
  }
  
  .footer * {
    pointer-events: auto;
  }
  
  .footer .stalking {
    text-transform: initial;
  }
  
  .footer .stalking__text {
    padding: 3px 0;
    overflow: hidden;
  }
  
  .footer .stalking__text span {
    -webkit-transform: translate(0, -150%);
            transform: translate(0, -150%);
    display: inline-block;
    white-space: pre;
  }
  
  .footer .stalking__media {
    margin-left: -10px;
    margin-bottom: -10px;
    padding: 10px;
    overflow-y: hidden;
  }
  
  .footer .stalking__media a {
    position: relative;
    -webkit-transform: translate(0, 200px);
            transform: translate(0, 200px);
    margin-right: 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer .stalking__media a svg {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-52%, -50%);
            transform: translate(-52%, -50%);
    opacity: .8;
    pointer-events: none;
  }
  
  .footer .stalking__media a svg circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 100.53096;
    -webkit-transition: stroke-dashoffset .5s;
    transition: stroke-dashoffset .5s;
  }
  
  .footer .stalking__media a:hover circle, .footer .stalking__media a:focus circle {
    stroke-dashoffset: 0;
  }
  
  @media screen and (min-width: 1600px) {
    .header .scrollbar {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .header, .footer {
      padding: 80px 70px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header, .footer {
      padding: 20px;
    }
    .navigation .scrollbar {
      width: 200px;
    }
  }
  
  .section--front .title-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .section--front .cta-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .section--front .title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .section--front .title span {
    margin-top: -6px;
    display: inline-block;
    line-height: .75;
  }
  
  .section--front .title span:nth-child(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
  .section--front .title span:nth-child(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .section--front .title span:nth-child(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 4px;
  }
  
  .section--front .copyright > span {
    -webkit-transform: translate(-48%, 60%) rotate(90deg);
            transform: translate(-48%, 60%) rotate(90deg);
    display: block;
    color: #333333;
  }
  
  .section--front .cta {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .section--front .cta__text-wrap {
    position: relative;
    margin-bottom: 10px;
    text-align: right;
  }
  
  .section--front .cta__text-wrap span:nth-child(1) {
    display: inline-block;
  }
  
  .section--front .cta__text-wrap span:nth-child(2) {
    position: absolute;
    left: 100%;
    bottom: 8px;
    white-space: nowrap;
  }
  
  .section--front .cta__text-wrap .link {
    margin-left: auto;
  }
  
  @media screen and (min-width: 1600px) {
    .section--front.title span:nth-child(4) {
      margin-top: 8px;
    }
    .section--front .copyright > span {
      -webkit-transform: translate(-50%, 100%) rotate(90deg);
              transform: translate(-50%, 100%) rotate(90deg);
    }
  }
  
  @media screen and (max-width: 1200px) {
    .section--front .copyright > span {
      -webkit-transform: translate(-30%, 230%) rotate(-90deg);
              transform: translate(-30%, 230%) rotate(-90deg);
      display: inline-block;
    }
    .section--front .cta__text-wrap {
      margin-bottom: 20px;
    }
    .section--front .cta__text-wrap span:nth-child(1) {
      display: inline-block;
    }
    .section--front .cta__text-wrap span:nth-child(2) {
      position: initial;
      display: block;
    }
  }
  
  @media screen and (max-width: 992px) {
    .section--front .title {
      margin-bottom: -45px;
    }
    .section--front .copyright > span {
      -webkit-transform: translate(-30%, 320%) rotate(-90deg);
              transform: translate(-30%, 320%) rotate(-90deg);
    }
  }
  
  @media screen and (max-width: 480px) {
    .section--front .title span:not(:last-child) {
      font-size: 14.5vw;
    }
    .section--front .copyright > span {
      -webkit-transform: translate(-30%, 480%) rotate(-90deg);
              transform: translate(-30%, 480%) rotate(-90deg);
      font-size: 24px;
    }
  }
  
  .section--work .project-wrap {
    margin: auto;
    width: 100%;
    max-width: 550px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .section--work .project {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  
  .section--work .project:hover .project__image-container {
    pointer-events: none;
  }
  
  .section--work .project:hover .project__image-container video {
    z-index: 1;
  }
  
  .section--work .project__count {
    position: absolute;
    left: 0;
    bottom: calc(100% + 10px);
    -webkit-transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: left 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .section--work .project__count-current {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .section--work .project__image {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    -webkit-clip-path: inset(0 0);
            clip-path: inset(0 0);
    -webkit-transition: -webkit-clip-path 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-clip-path 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: clip-path 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-clip-path 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .section--work .project__image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .section--work .project__image-container img, .section--work .project__image-container video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .section--work .project__image-container video {
    z-index: -1;
  }
  
  .section--work .project__meta {
    position: absolute;
    right: 0;
    top: calc(100% + 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    -webkit-transition: right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .section--work .project__meta-title {
    font-size: 38px;
    line-height: 0.8;
  }
  
  .section--work .project__meta-tags > * > span:not(:last-child)::after {
    content: '/';
    margin: 0 5px;
    line-height: 1;
  }
  
  @media screen and (min-width: 1600px) {
    .section--work .project-wrap {
      max-width: 750px;
    }
    .section--work .project__count {
      bottom: calc(100% + 20px);
    }
    .section--work .project__meta {
      top: calc(100% + 40px);
    }
    .section--work .project__meta-title {
      margin-bottom: 15px;
      font-size: 46px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section--work .project-wrap {
      margin-top: 45%;
    }
    .section--work .project__count {
      bottom: calc(100% + 10px);
    }
    .section--work .project__meta {
      top: calc(100% + 30px);
    }
    .section--work .project__meta-title {
      margin-bottom: 0;
      font-size: 36px;
    }
  }
  
  .section--quote .col {
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 800px;
  }
  
  .section--quote .col__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .section--quote .intro-text {
    position: absolute;
    left: 0;
    bottom: 100%;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    text-transform: initial;
  }
  
  .section--quote .intro-text > span {
    position: relative;
    display: block;
  }
  
  .section--quote .intro-text > span::after {
    position: absolute;
    left: -10px;
    top: 30%;
    width: 250px;
    height: 1px;
    background: #1A1A1A;
  }
  
  .section--quote .quote {
    position: relative;
    margin: auto;
    padding-top: 40px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  .section--quote .quote__text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 52px;
    font-weight: 700;
    line-height: .75;
  }
  
  .section--quote .quote__text span {
    margin-top: -5px;
  }
  
  .section--quote .quote__text span.align-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .section--quote .quote__text > * {
    /* &:last-child
                  margin-top: 20px
                  font-size: 14px
                  font-weight: 400
                  line-height: 1.8 */
  }
  
  .section--quote .quote__text > *:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .section--quote .quote__text > *:nth-child(5) > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  
  .section--quote .quote__text > *:nth-child(5) > *:first-child {
    opacity: 0;
  }
  
  .section--quote .quote__text .quote-mark--open {
    position: absolute;
    right: 100%;
    top: 0;
  }
  
  .section--quote .quote__text .quote-mark--close {
    position: absolute;
    left: 100%;
    bottom: 0;
  }
  
  .section--quote .statue {
    position: absolute;
    right: 20px;
    top: calc(100% - 150px);
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  
  .section--quote .statue__img.ready {
    opacity: 0;
  }
  
  .section--quote .statue__img img {
    position: relative;
    z-index: 1;
    width: auto;
    height: 250px;
  }
  
  .section--quote .statue__img .map {
    display: none;
  }
  
  .section--quote #canvas-statue {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  .section--quote .statue__text {
    position: absolute;
    left: 50%;
    top: 120%;
    display: inline-block;
    -webkit-animation: rotate_360 10s infinite linear;
            animation: rotate_360 10s infinite linear;
  }
  
  .section--quote .statue__text .char1 {
    -webkit-transform: rotate(-75.2deg) translate(0, 0);
            transform: rotate(-75.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char2 {
    -webkit-transform: rotate(-70.4deg) translate(0, 0);
            transform: rotate(-70.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char3 {
    -webkit-transform: rotate(-65.6deg) translate(0, 0);
            transform: rotate(-65.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char4 {
    -webkit-transform: rotate(-60.8deg) translate(0, 0);
            transform: rotate(-60.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char5 {
    -webkit-transform: rotate(-56deg) translate(0, 0);
            transform: rotate(-56deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char6 {
    -webkit-transform: rotate(-51.2deg) translate(0, 0);
            transform: rotate(-51.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char7 {
    -webkit-transform: rotate(-46.4deg) translate(0, 0);
            transform: rotate(-46.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char8 {
    -webkit-transform: rotate(-41.6deg) translate(0, 0);
            transform: rotate(-41.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char9 {
    -webkit-transform: rotate(-36.8deg) translate(0, 0);
            transform: rotate(-36.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char10 {
    -webkit-transform: rotate(-32deg) translate(0, 0);
            transform: rotate(-32deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char11 {
    -webkit-transform: rotate(-27.2deg) translate(0, 0);
            transform: rotate(-27.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char12 {
    -webkit-transform: rotate(-22.4deg) translate(0, 0);
            transform: rotate(-22.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char13 {
    -webkit-transform: rotate(-17.6deg) translate(0, 0);
            transform: rotate(-17.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char14 {
    -webkit-transform: rotate(-12.8deg) translate(0, 0);
            transform: rotate(-12.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char15 {
    -webkit-transform: rotate(-8deg) translate(0, 0);
            transform: rotate(-8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char16 {
    -webkit-transform: rotate(-3.2deg) translate(0, 0);
            transform: rotate(-3.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char17 {
    -webkit-transform: rotate(1.6deg) translate(0, 0);
            transform: rotate(1.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char18 {
    -webkit-transform: rotate(6.4deg) translate(0, 0);
            transform: rotate(6.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char19 {
    -webkit-transform: rotate(11.2deg) translate(0, 0);
            transform: rotate(11.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char20 {
    -webkit-transform: rotate(16deg) translate(0, 0);
            transform: rotate(16deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char21 {
    -webkit-transform: rotate(20.8deg) translate(0, 0);
            transform: rotate(20.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char22 {
    -webkit-transform: rotate(25.6deg) translate(0, 0);
            transform: rotate(25.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char23 {
    -webkit-transform: rotate(30.4deg) translate(0, 0);
            transform: rotate(30.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char24 {
    -webkit-transform: rotate(35.2deg) translate(0, 0);
            transform: rotate(35.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char25 {
    -webkit-transform: rotate(40deg) translate(0, 0);
            transform: rotate(40deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char26 {
    -webkit-transform: rotate(44.8deg) translate(0, 0);
            transform: rotate(44.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char27 {
    -webkit-transform: rotate(49.6deg) translate(0, 0);
            transform: rotate(49.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char28 {
    -webkit-transform: rotate(54.4deg) translate(0, 0);
            transform: rotate(54.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char29 {
    -webkit-transform: rotate(59.2deg) translate(0, 0);
            transform: rotate(59.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char30 {
    -webkit-transform: rotate(64deg) translate(0, 0);
            transform: rotate(64deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char31 {
    -webkit-transform: rotate(68.8deg) translate(0, 0);
            transform: rotate(68.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char32 {
    -webkit-transform: rotate(73.6deg) translate(0, 0);
            transform: rotate(73.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char33 {
    -webkit-transform: rotate(78.4deg) translate(0, 0);
            transform: rotate(78.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char34 {
    -webkit-transform: rotate(83.2deg) translate(0, 0);
            transform: rotate(83.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char35 {
    -webkit-transform: rotate(88deg) translate(0, 0);
            transform: rotate(88deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char36 {
    -webkit-transform: rotate(92.8deg) translate(0, 0);
            transform: rotate(92.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char37 {
    -webkit-transform: rotate(97.6deg) translate(0, 0);
            transform: rotate(97.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char38 {
    -webkit-transform: rotate(102.4deg) translate(0, 0);
            transform: rotate(102.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char39 {
    -webkit-transform: rotate(107.2deg) translate(0, 0);
            transform: rotate(107.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char40 {
    -webkit-transform: rotate(112deg) translate(0, 0);
            transform: rotate(112deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char41 {
    -webkit-transform: rotate(116.8deg) translate(0, 0);
            transform: rotate(116.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char42 {
    -webkit-transform: rotate(121.6deg) translate(0, 0);
            transform: rotate(121.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char43 {
    -webkit-transform: rotate(126.4deg) translate(0, 0);
            transform: rotate(126.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char44 {
    -webkit-transform: rotate(131.2deg) translate(0, 0);
            transform: rotate(131.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char45 {
    -webkit-transform: rotate(136deg) translate(0, 0);
            transform: rotate(136deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char46 {
    -webkit-transform: rotate(140.8deg) translate(0, 0);
            transform: rotate(140.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char47 {
    -webkit-transform: rotate(145.6deg) translate(0, 0);
            transform: rotate(145.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char48 {
    -webkit-transform: rotate(150.4deg) translate(0, 0);
            transform: rotate(150.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char49 {
    -webkit-transform: rotate(155.2deg) translate(0, 0);
            transform: rotate(155.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char50 {
    -webkit-transform: rotate(160deg) translate(0, 0);
            transform: rotate(160deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char51 {
    -webkit-transform: rotate(164.8deg) translate(0, 0);
            transform: rotate(164.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char52 {
    -webkit-transform: rotate(169.6deg) translate(0, 0);
            transform: rotate(169.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char53 {
    -webkit-transform: rotate(174.4deg) translate(0, 0);
            transform: rotate(174.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char54 {
    -webkit-transform: rotate(179.2deg) translate(0, 0);
            transform: rotate(179.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char55 {
    -webkit-transform: rotate(184deg) translate(0, 0);
            transform: rotate(184deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char56 {
    -webkit-transform: rotate(188.8deg) translate(0, 0);
            transform: rotate(188.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char57 {
    -webkit-transform: rotate(193.6deg) translate(0, 0);
            transform: rotate(193.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char58 {
    -webkit-transform: rotate(198.4deg) translate(0, 0);
            transform: rotate(198.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char59 {
    -webkit-transform: rotate(203.2deg) translate(0, 0);
            transform: rotate(203.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char60 {
    -webkit-transform: rotate(208deg) translate(0, 0);
            transform: rotate(208deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char61 {
    -webkit-transform: rotate(212.8deg) translate(0, 0);
            transform: rotate(212.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char62 {
    -webkit-transform: rotate(217.6deg) translate(0, 0);
            transform: rotate(217.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char63 {
    -webkit-transform: rotate(222.4deg) translate(0, 0);
            transform: rotate(222.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char64 {
    -webkit-transform: rotate(227.2deg) translate(0, 0);
            transform: rotate(227.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char65 {
    -webkit-transform: rotate(232deg) translate(0, 0);
            transform: rotate(232deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char66 {
    -webkit-transform: rotate(236.8deg) translate(0, 0);
            transform: rotate(236.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char67 {
    -webkit-transform: rotate(241.6deg) translate(0, 0);
            transform: rotate(241.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char68 {
    -webkit-transform: rotate(246.4deg) translate(0, 0);
            transform: rotate(246.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char69 {
    -webkit-transform: rotate(251.2deg) translate(0, 0);
            transform: rotate(251.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char70 {
    -webkit-transform: rotate(256deg) translate(0, 0);
            transform: rotate(256deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char71 {
    -webkit-transform: rotate(260.8deg) translate(0, 0);
            transform: rotate(260.8deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char72 {
    -webkit-transform: rotate(265.6deg) translate(0, 0);
            transform: rotate(265.6deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char73 {
    -webkit-transform: rotate(270.4deg) translate(0, 0);
            transform: rotate(270.4deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char74 {
    -webkit-transform: rotate(275.2deg) translate(0, 0);
            transform: rotate(275.2deg) translate(0, 0);
  }
  
  .section--quote .statue__text .char75 {
    -webkit-transform: rotate(280deg) translate(0, 0);
            transform: rotate(280deg) translate(0, 0);
  }
  
  .section--quote .statue__text span {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    display: inline-block;
    width: 4px;
    height: 110px;
    text-align: center;
  }
  
  .section--quote .reserved-space {
    height: 20px;
  }
  
  @-webkit-keyframes rotate_360 {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-360deg);
              transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
  
  @keyframes rotate_360 {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
              transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(-360deg);
              transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
  
  @media screen and (min-width: 1600px) {
    .section--quote .col {
      max-width: 1100px;
      height: 85%;
    }
    .section--quote .quote__text span {
      font-size: 72px;
    }
    .section--quote .statue {
      right: 80px;
      top: calc(100% - 180px);
    }
    .section--quote .statue img {
      height: 300px;
    }
    .section--quote .statue__text span {
      height: 140px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .section--quote .col {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .section--quote .quote__text {
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section--quote .col {
      width: 100%;
      height: 70%;
    }
    .section--quote .quote {
      padding-bottom: 40px;
    }
    .section--quote .intro-text {
      -webkit-transform: none;
              transform: none;
    }
    .section--quote .quote__text {
      margin-right: auto;
      font-size: 10vw;
    }
    .section--quote .statue {
      right: 50px;
      top: calc(100% - 150px);
    }
    .section--quote .statue img {
      height: 200px;
    }
    .section--quote .statue__text {
      top: 130%;
    }
    .section--quote .reserved-space {
      height: 40px;
    }
  }
  
  .section--end .cta-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 25%;
  }
  
  .section--end .cta-wrap .cta {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 450px;
  }
  
  .section--end .cta-wrap .cta__title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
  }
  
  .section--end .cta-wrap .cta__paragraph {
    font-size: 28px;
    line-height: 1;
  }
  
  .section--end .cta-wrap .cta__reference {
    margin-bottom: 30px;
    color: #333333;
  }
  
  .section--end .cta-wrap a {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  
  .section--end .cta-wrap .cta__deco {
    position: absolute;
    right: 30%;
    bottom: 10%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: -1;
    font-size: 64px;
    font-weight: 700;
    color: #d9d9d9;
  }
  
  .section--end .cta-wrap .cta__deco span {
    display: block;
  }
  
  @media screen and (max-width: 1200px) {
    .section--end {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .section--end .cta-wrap {
      margin-left: 20%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .section--end .cta-wrap .cta {
      max-width: 350px;
    }
    .section--end .cta-wrap .cta__paragraph {
      font-size: 22px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .section--end .cta-wrap {
      display: block;
      margin-left: 0;
      height: 100%;
    }
    .section--end .cta-wrap .cta {
      margin-top: 45%;
    }
  }
  
  .no-js {
    overflow-x: auto;
  }
  
  .no-js .screen-loader {
    display: none;
  }
  
  .no-js #page {
    position: static;
  }
  
  .no-js .header .navigation {
    display: none;
  }
  
  .no-js .section__nav {
    display: none;
  }
  
  .no-js .section--front .title span:not(:last-child) {
    margin-top: 0;
  }
  
  .no-js .section--quote .quote__text span {
    margin-top: 0;
  }
  
  .no-js .section--quote .statue__img > img {
    display: none;
  }
  /*# sourceMappingURL=style.css.map */